

@{
    ViewData["Title"] = "Yetkisiz Giriş";
}


<div class="container mt-5 text-center">
    <h2 class="text-danger">Bu sayfaya erişim izniniz yok!</h2>
    <a href="/Giris/Index" class="btn btn-primary mt-3">Giriş Sayfasına Dön</a>
</div>